*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}



#btn-red{
    width: 100px;
    background-color: rgb(193, 26, 26);
    color: white;
    border: none;
    border-radius: 20px;
}

#btn-green{
    width: 100px;
    background-color: rgb(62, 228, 62);
color: white;
border: none;
    border-radius: 20px;
}

#btn-blue{
    width: 100px;
    background-color: rgb(43, 43, 146);
    color: white;
    border: none;
    border-radius: 20px;
}